:root{
    --main-text-color: #444444;
    --main-icon-color: #7ed957;
    --main-btn-color: #ff7f50;
    --main-btntxt-color: white;
    --main-navtxt-color: black;
    --main-star-color: gold;
    --main-social-color: #ad37ca;
}
body{
    font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: var(--main-text-color);
    font-weight: 400;
}
a{
    text-decoration: none;
}
.navbar{
    overflow: hidden;
    font-size: 1rem;
    padding-bottom:0;
    position:relative;
    flex-direction: row;
    display:flex;
    justify-content: center;
    padding-left: 80px;
    padding-right:80px;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left:10px;
}
.navbar li{
    display: inline-block;
    text-align: center;
    align-items: center;
}
.navbar a{
    display: block;
    padding-top:0;
    padding-left: 35px;
    padding-right:30px;
    padding-bottom:0;
    align-items: center;
    color: var(--main-navtxt-color);
}
i{
    color: var(--main-icon-color);
}
#logo{
    margin: 0;
    max-height: 50px;
    float:left
}
#search{
    padding:10px;
    color: var(--main-text-color);
}
#cart{
    padding:10px;
    color: var(--main-text-color);
}
#regBtn{
    background-color:var(--main-btn-color);
    color: var(--main-btntxt-color);
    padding: 10px;
    border:none;
    border-radius: 4px;
    height: 1.5rem;
}
/*First Section*/
#firstSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669153368/Practice/ircle_3_lau2ab.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
}
.testColumn{
    width:38%;
    padding: 1rem;
}
#studying{
    max-height: 25rem;
    width:20rem;
    border-radius: 5%;
}
#firstSection .h1 i{
    color: var(--main-btn-color);
    font-size:30px;
}
#firstText{
    align-content: flex-end;
}
#welcome{
    font-size: 2.8rem;
    line-height: 2.5rem;
    margin-block-end: 0px;
}
.sharing{
    font-size: 0.8rem;
}
.chosenShare{
    background-position: center;
    background-repeat: none;
    opacity: 0.6;
    background-size: 2rem;
    padding:0.5rem;
}
/*Second Section*/
#secondSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 80px;
    padding-right:80px;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#career{
    height: 80px
}
.column{
    width: 220px;
    padding: 30px;
    padding-top: 1rem;
    box-shadow: 0 8px 16px 0 rgba(70, 69, 69, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19);
    margin: 1rem;
}
#secondSection h1{
    font-size: 1.8rem;
    text-align: center;
}
/*Third Section*/
#thirdSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669151169/Practice/Copy_of_ircle_oitjm1.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    padding: 1rem;

}
#thirdSection h1{
    font-size: 1.8rem;
    margin-block-start: 0;
}
#collaboration{
    height:18rem;
    width:26rem;
    border-radius: 5%;
}
.column2{
    width:32%;
    padding: 2rem;
}
.container{
    align-items: center;
}
#checkbox{
    width: 20px;
    align-items:center;
    margin-right: 0.5rem;
    top: 5px;
    position: relative;
}
/*Fourth Section*/
#fourthSection{
    padding-left: 230px;
    padding-right: 230px;
    justify-content: center;
}
#design{
    float: right;
    position: relative;
}
.column4{
    width:70%;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
#student{
    width:250px;
    height:150px;
    border-radius: 2%;
}
#star{
    color: var(--main-star-color);
}
#eye{
    color: var(--main-btn-color);
}
.column3{
    width: 250px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(70, 69, 69, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19);
    margin: 1rem;
}
.cardSpan{
    margin-right: 15px;
    opacity: 0.8;
    font-size:13px;
}
#instructor{
    border-radius:100%;
    width:48px;
    height: 48px;
}
.insDetails{
    display: flex;
}
.cost{
    position: relative;
    top: 12px;
    margin-left: 5px;
}
.discount{
    color: var(--main-btn-color);
    opacity: 0.8;
    font-size:13px;
}
/*Fifth Section*/
#fifthSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669241108/Practice/fifthbg_cltp90.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    padding: 1rem;

}
.video{
    height:18rem;
    width:26rem;
    border-radius: 1%;
    border: 15px solid var(--main-btntxt-color);
    box-shadow: 0 8px 16px 0 rgba(70, 69, 69, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19);
}
/*Sixth Section*/
#sixthSection{
    justify-content: center;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669151169/Practice/Copy_of_ircle_oitjm1.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%; 
    padding: 2rem;
    padding-top:1;
    padding-left: 150px;
    padding-right: 150px;
}
.column5{
    width: 250px;
    padding: 10px;
    margin: 1rem;
    background-color: var(--main-btntxt-color);
}
#sixthSection .row{
    justify-content: center;
    align-items: center;
    width: 100%
}
.slidecontainer {
    justify-content: center;
    width: 100%;
  }
/*Seventh Section*/
#seventhSection{
    text-align: center;
    padding-bottom: 3rem;
}
/*Eighth Section Section*/
#eighthSection{
    display:flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding: 1rem;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669493567/Practice/socialsbg_qbthbv.png');
    background-repeat: none;
    position: relative;
    height: 300px;
    margin-bottom: 80px;
}
#eighthSection .row{
    justify-content:unset;
    align-items: center;
    width: 100%;
    display: flex;
    margin-left: 20px;
}
#next {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  #next:hover {
    background-color: var(--main-btntxt-color);
    color: var(--main-navtxt-color);
  }
  
  .previous {
    background-color: var(--main-btntxt-color);
    color: var(--main-navtxt-color);
  }
  
  .next {
    background-color: var(--main-btn-color);
    color: var(--main-btntxt-color);
  }
  #twitter{
    width:45px;
    height: 45px;
    border-radius:4px;
  }
  #eighthSection .cost{
    top:0;
    margin-left: 10px;
    margin-right: 25px;
  }
  #eighthSection .discount{
    font-size: 16px;
  }
  #eighthSection .column4{
    width: 87%;
  }
  #apple{
    color: var(--main-btntxt-color);
  }
  #androidBtn{
    background-color:var(--main-btntxt-color);
    color: var(--main-navtxt-color);
    padding: 10px;
    border:none;
    border-radius: 4px;
    margin-right: 1.5rem;
    margin-left: 5rem;
    height: 1.5rem;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-social-color);
    width: 70%;
    margin-left: 110px;
    padding: 0.5rem;
    border-radius: 4px;
}
