:root{
    --main-text-color: #444444;
    --main-icon-color: #7ed957;
    --main-btn-color: #ff7f50;
    --main-btntxt-color: white;
    --main-navtxt-color: black;
    --main-star-color: gold;
    --main-social-color: #33c072;
    --main-teacher-color: #e1f7d8;
    --main-business-color: #faddd3;
}
body{
    font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: var(--main-text-color);
    font-weight: 400;
}
a{
    text-decoration: none;
}
i{
    color: var(--main-icon-color);
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainBtn{
    background-color:var(--main-btn-color);
    color: var(--main-btntxt-color);
    padding: 10px;
    border:none;
    border-radius: 4px;
    height: 1.5rem;
}
section{
    justify-content: center;
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*Columns*/
.column{
    width:38%;
    padding: 1rem;
}
.column1{
    width: 220px;
    padding: 30px;
    padding-top: 1rem;
    box-shadow: 0 8px 16px 0 rgba(70, 69, 69, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19);
    margin: 1rem;
}
.column2{
    width:32%;
    padding: 2rem;
}
.column3{
    width:70%;
}
.column4{
    width: 250px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(70, 69, 69, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19);
    margin: 1rem;
}
.column5{
    width: 250px;
    padding: 10px;
    margin: 1rem;
    background-color: var(--main-btntxt-color);
}
.column6 {
    width: 360px;
    padding: 20px;
    margin: 1rem;
    padding-bottom: 30px;
}
.column7{
    width: 250px;
    padding: 10px;
    margin: 1rem;
    height: 150px;
    margin-bottom: 120px;
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*Header*/
nav{
    overflow: hidden;
    font-size: 1rem;
    padding-bottom:0;
    position:relative;
    flex-direction: row;
    display:flex;
    justify-content: center;
    padding-left: 80px;
    padding-right:80px;
    margin-bottom: 15px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left:10px;
}
nav li{
    display: inline-block;
    text-align: center;
    align-items: center;
}
nav a{
    display: block;
    padding-top:0;
    padding-left: 35px;
    padding-right:30px;
    padding-bottom:0;
    align-items: center;
    color: var(--main-navtxt-color);
}
#logo{
    margin: 0;
    max-height: 50px;
    float:left
}
#search{
    padding:10px;
    color: var(--main-text-color);
}
#cart{
    padding:10px;
    color: var(--main-text-color);
}

/*First Section*/
#firstSection{
    display: flex;
    flex-direction: row;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669153368/Practice/ircle_3_lau2ab.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
}
#welcomePic{
    max-height: 25rem;
    width:20rem;
    border-radius: 5%;
}
#firstSection .h1 i{
    color: var(--main-btn-color);
    font-size:30px;
}
#welcome{
    font-size: 2.8rem;
    line-height: 2.5rem;
    margin-block-end: 0px;
}
.sharing{
    font-size: 0.8rem;
}
.chosenShare{
    background-position: center;
    background-repeat: none;
    opacity: 0.6;
    background-size: 2rem;
    padding:0.5rem;
}
/*Second Section*/
#secondSection{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-right:80px;
    margin-bottom: 25px;
}
#careerIcon{
    height: 80px
}
#secondSection h1{
    font-size: 1.8rem;
    text-align: center;
}

/*Third Section*/
#thirdSection{
    display: flex;
    flex-direction: row;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669151169/Practice/Copy_of_ircle_oitjm1.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    padding: 1rem;
}
#thirdSection h1{
    font-size: 1.8rem;
    margin-block-start: 0;
}
#collaborationPic{
    height:18rem;
    width:26rem;
    border-radius: 5%;
}
#checkbox{
    width: 20px;
    align-items:center;
    margin-right: 0.5rem;
    top: 5px;
    position: relative;
}
/*Fourth Section*/
#fourthSection{
    padding-left: 230px;
    padding-right: 230px;
    margin-bottom: 2rem;
}
#rightFloatDiv{
    float: right;
    position: relative;
}
#studentPic{
    width:250px;
    height:150px;
    border-radius: 2%;
}
#starIcon{
    color: var(--main-star-color);
}
#eyeIcon{
    color: var(--main-btn-color);
}
.cardSpan{
    margin-right: 15px;
    opacity: 0.8;
    font-size:13px;
}
#instructorPic{
    border-radius:100%;
    width:48px;
    height: 48px;
}
.profileDetails{
    display: flex;
}
.profileName{
    position: relative;
    top: 12px;
    margin-left: 5px;
}
.discount{
    color: var(--main-btn-color);
    opacity: 0.8;
    font-size:13px;
}
/*Fifth Section*/
#fifthSection{
    display: flex;
    flex-direction: row;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669241108/Practice/fifthbg_cltp90.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
}
.video{
    height:18rem;
    width:26rem;
    border-radius: 1%;
    border: 15px solid var(--main-btntxt-color);
    box-shadow: 0 8px 16px 0 rgba(70, 69, 69, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19);
}
/*Sixth Section*/
#sixthSection{
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669151169/Practice/Copy_of_ircle_oitjm1.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%; 
    padding: 2rem;
    padding-top:1;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
}
#sixthSection .row{
    width: 100%;
}
#sixthSection .column3{
    width: 70%;
    margin-left: 80px;
}
#sixthSection .column6{
    position: relative;
    top: 10px;
    margin-right: 60px;
}
.slidecontainer {
    justify-content: center;
    width: 100%;
  }
/*Seventh Section*/
#seventhSection{
    text-align: center;
    margin-bottom: 3rem;
}
/*Eighth Section Section*/
#eighthSection{
    display:flex;
    padding-left: 150px;
    padding-right: 150px;
    padding: 1rem;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669543515/Practice/socialsbg_bn4od3.png');
    background-repeat: none;
    position: relative;
    height: 370px;
    margin-bottom: 5rem;
    padding-top: 0;
}
#eighthSection .row{
    justify-content:unset;
    width: 100%;
}
#eighthSection .column3{
    width: 90%;
    margin-left: 20px;
}
#eighthSection .column6{
    top: 10px;
    margin-left: 50px;
    padding-right: 0;
}
#next {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  #next:hover {
    background-color: var(--main-btntxt-color);
    color: var(--main-navtxt-color);
  }
  
  .previous {
    background-color: var(--main-btntxt-color);
    color: var(--main-navtxt-color);
  }
  
  .next {
    background-color: var(--main-btn-color);
    color: var(--main-btntxt-color);
  }
  #twitter{
    width:45px;
    height: 45px;
    border-radius:4px;
  }
  #eighthSection .profileName{
    top:0;
    margin-left: 10px;
    margin-right: 25px;
  }
  #eighthSection .discount{
    font-size: 16px;
  }
  #apple{
    color: var(--main-btntxt-color);
  }
  #androidBtn{
    background-color:var(--main-btntxt-color);
    color: var(--main-navtxt-color);
    padding: 10px;
    border:none;
    border-radius: 4px;
    margin-right: 1.5rem;
    margin-left: 5rem;
    height: 1.5rem;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-social-color);
    width: 70%;
    margin-left: 125px;
    padding: 0.5rem;
    border-radius: 4px;
}
/*Ninth Section*/
#ninthSection p{
    margin-bottom: 25px;
    margin-top: 0;
}
#ninthSection .row{
    align-items: unset;
}
h4{
    margin: 0;
    margin-bottom: 5px;
}
.applyDetails{
    margin-left: 15px;
}
#teacher{
    background-color: var(--main-teacher-color);
    border-radius: 4px;
}
#business{
    background-color: var(--main-business-color);
    border-radius: 4px; 
}
/*Footer*/
footer{
    padding-left: 150px;
    padding-right: 130px;
    background-color: var(--main-text-color);
    color: var(--main-btntxt-color);
    bottom: 0;
}
hr{
    width: 100%;
    opacity: 0.2;
}
footer h4{
    margin-block-start: 1.2em;
    margin-block-end: 1.67em;
}
footer p{
    opacity: 0.6;
}
footer .row{
    justify-content: unset;
    width: 100%;
}
footer .column3{
    width:95%
}