:root{
    --main-text-color: #444444;
    --main-icon-color: #7ed957;
    --main-btn-color: #ff7f50;
    --main-btntxt-color: white;
    --main-navtxt-color: black;
    --main-star-color: gold;
    --main-social-color: #33c072;
    --main-teacher-color: #e1f7d8;
    --main-business-color: #faddd3;
    --main-section-color: #e0f6d7;
}
body{
    font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: var(--main-text-color);
    font-weight: 400;
}
a{
    text-decoration: none;
}
i{
    color: var(--main-icon-color);
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-btn{
    background-color:var(--main-btn-color);
    color: var(--main-btntxt-color);
    padding: 10px;
    border:none;
    border-radius: 4px;
    height: 1.5rem;
}
section{
    justify-content: center;
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*Columns*/
.column1, .goals-card{
    width: 19%;
    height: 30%;
    padding: 30px;
    padding-top: 1rem;
    box-shadow: 0 8px 16px 0 rgba(70, 69, 69, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19);
    margin: 16px;
}
.column2, .welcome-info, .welcome-pic, .outcomes-info, .outcomes-pic, .courses-title, .courses-viewall, .learn-info, .learn-pic, .selection-title, .selection-viewall, .testimonials-title, .testimonials-nav{
    width:32%;
    padding: 16px;
}
.column3{
    width:70%;
    margin-left: 40px;
}
.column4, .course-card{
    width: 19%;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(70, 69, 69, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19);
    margin: 16px;
}
.column5, .selection-card, .testimonials-card{
    width: 18.5vw;
    padding: 10px;
    margin: 16px;
    background-color: var(--main-btntxt-color);
}
.column6 {
    width: 360px;
    padding: 20px;
    margin: 16px;
    padding-bottom: 30px;
}
.column7{
    width: 18vw;
    padding: 10px 0 10px 0;
    height: 15vw;
    margin-bottom: 120px;
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*Header*/
nav{
    overflow: hidden;
    font-size: 1rem;
    padding-bottom:0;
    position:relative;
    flex-direction: row;
    display:flex;
    justify-content: center;
    padding: 0px 6vw;
    margin-bottom: 2vh;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding-top: 1.5vh;
    padding-bottom: 0;
    padding-left: 1.5vw;
}
nav li{
    display: inline-block;
    text-align: center;
    align-items: center;
}
nav a{
    display: block;
    padding: 0px 30px 0px 35px;
    align-items: center;
    color: var(--main-navtxt-color);
}
#logo{
    margin: 0;
    max-height: 50px;
    float:left
}
#search{
    padding:10px;
    color: var(--main-text-color);
}
#cart{
    padding:10px;
    color: var(--main-text-color);
}

/*Welcome Section*/
.welcome-section{
    display: flex;
    flex-direction: row;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669666521/Practice/welcombg_xpn2p6.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    padding-bottom: 15px;
}
#studying-student{
    max-height: 55vh;
    width: 30vw;
    border-radius: 5%;
}
.welcome-section .h1 i{
    color: var(--main-btn-color);
    font-size:30px;
}
.welcome-title{
    font-size: 2.8rem;
    line-height: 2.5rem;
    margin-block-end: 0px;
}
.sharing{
    font-size: 0.8rem;
}
.share-now{
    background-position: center;
    background-repeat: none;
    opacity: 0.6;
    background-size: 2rem;
    padding:0.5rem;
}

/*Goals Section*/
.goals-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}
#goals-icon{
    height: 80px
}
.goals-section h1{
    font-size: 1.8rem;
    text-align: center;
}

/*Outcomes Section*/
.outcomes-section{
    display: flex;
    flex-direction: row;
    background-color: var(--main-section-color);
    padding: 16px 16px 30px 16px;
}
.outcomes-section h1{
    font-size: 1.8rem;
    margin-block-start: 0;
}
#study-group{
    height: 45vh;
    width: 30vw;
    border-radius: 5%;
}
#checkbox{
    width: 20px;
    align-items:center;
    margin-right: 0.5rem;
    top: 5px;
    position: relative;
}
/*Courses Section*/
.courses-section{
    margin-bottom: 2rem;
}
.float-content{
    float: right;
    position: relative;
}
#card-image{
    width: 18.5vw;
    height: 12vw;
    border-radius: 2%
}
#star-icon{
    color: var(--main-star-color);
}
#eye-icon{
    color: var(--main-btn-color);
}
.card-span{
    margin-right: 15px;
    opacity: 0.8;
    font-size:13px;
}
/*Including testimonials card profile information*/
#instructor-image, #student-image{
    border-radius:100%;
    width: 3.5vw;
    height: 3.5vw;
}
.instructor-profile, .student-profile{
    display: flex;
}
.instructor-details, .student-details{
    position: relative;
    top: 12px;
    margin-left: 5px;
}
.discount{
    color: var(--main-btn-color);
    opacity: 0.8;
    font-size:13px;
}

/*Learn Section*/
.learn-section{
    display: flex;
    flex-direction: row;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669241108/Practice/fifthbg_cltp90.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    padding: 16px;
    margin-bottom: 3rem;
}
#video-image{
    height: 44vh;
    width: 29vw;
    border-radius: 1%;
    border: 15px solid var(--main-btntxt-color);
    box-shadow: 0 8px 16px 0 rgba(70, 69, 69, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19);
}

/*Selection Section*/
.selection-section{
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669151169/Practice/Copy_of_ircle_oitjm1.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover; 
    padding: 10px 0px 30px 0px;
}
.slider{
    width: 60%;
}
.slidecontainer{
    display: flex;
    justify-content: center;
}
/*Seventh Section*/
.join-section{
    text-align: center;
    margin-bottom: 48px;
}
/*Testimonials Section*/
.testimonials-section{
    padding: 1rem;
    background-image: url('https://res.cloudinary.com/dhrftaik2/image/upload/v1669543515/Practice/socialsbg_bn4od3.png');
    background-repeat: none;
    position: relative;
    background-size: cover;
    margin-bottom: 5rem;
    padding-top: 0;
}
#previous-btn, #next-btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  #previous-btn:hover, #next-btn:hover {
    background-color: var(--main-btntxt-color);
    color: var(--main-navtxt-color);
  }
  
  .previous {
    background-color: var(--main-btntxt-color);
    color: var(--main-navtxt-color);
  }
  
  .next {
    background-color: var(--main-btn-color);
    color: var(--main-btntxt-color);
  }
  #twitter{
    width: 3.5vw;
    height: 3.5vw;
    border-radius:4px;
  }
  .student-details{
    top:0;
    margin: 0px 10px 0px 25px;
  }
  .testimonials-card .discount{
    font-size: 16px;
  }
  #apple{
    color: var(--main-btntxt-color);
  }
  #androidBtn{
    background-color:var(--main-btntxt-color);
    color: var(--main-navtxt-color);
    padding: 10px;
    border:none;
    border-radius: 4px;
    margin: 0px 24px 0px 80px;
    height: 1.5rem;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-social-color);
    border-radius: 4px;
    padding: 12px;
}
.socialsContainer{
    display: flex;
    justify-content: center;
}
/*Ninth Section*/
#ninthSection p{
    margin: 0px 0px 25px 0px;
}
#ninthSection .row{
    align-items: unset;
}
h4{
    margin: 0px 0px 5px 0px;
}
.applyDetails{
    margin-left: 15px;
}
#teacher{
    background-color: var(--main-teacher-color);
    border-radius: 4px;
    margin: 20px;
    padding: 20px 25px 25px 25px;
    width: 28%
}
#business{
    background-color: var(--main-business-color);
    border-radius: 4px; 
    margin: 20px;
    padding: 20px 25px 25px 25px;
    width: 28%
}
/*Footer*/
footer{
    background-color: var(--main-text-color);
    color: var(--main-btntxt-color);
    bottom: 0;
}
hr{
    opacity: 0.2;
    margin: 0px 40px;
}
footer h4{
    margin-block-start: 1.2em;
    margin-block-end: 1.67em;
}
footer p{
    opacity: 0.6;
}
 footer .container{
    justify-content: center;
}
.row3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}